<h1>Listing graffitis</h1>

<h2>Import Products</h2>

<%= form_tag import_graffitis_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Image url</th>
      <th>User</th>
      <th>Source</th>
      <th>Date published</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @graffitis.each do |graffiti| %>
      <tr>
        <td><%= graffiti.image_id %></td>
        <td><img src="<%= graffiti.image_url %>" style="max-height:200px;"></td>
        <td><%= graffiti.user %></td>
        <td><%= graffiti.source %></td>
        <td><%= graffiti.date_published %></td>
        <td><%= graffiti.post_id %></td>
        <td><%= link_to 'Show', graffiti %></td>
        <td><%= link_to 'Edit', edit_graffiti_path(graffiti) %></td>
        <td><%= link_to 'Destroy', graffiti, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @graffitis %>

<br>

<%= link_to 'New Graffiti', new_graffiti_path %>
