<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @graffiti.image_id %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @graffiti.image_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @graffiti.user %>
</p>

<p>
  <strong>Source:</strong>
  <%= @graffiti.source %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @graffiti.date_published %>
</p>

<p>
  <strong>Post:</strong>
  <%= @graffiti.post_id %>
</p>

<%= link_to 'Edit', edit_graffiti_path(@graffiti) %> |
<%= link_to 'Back', graffitis_path %>
