<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Locations</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @projects.each do |project| %>
  <tbody>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.locations.count %></td>
      <td><%= link_to 'Show', user_project_path(@user, project)  %></td>
      <td><%= link_to 'Edit', edit_user_project_path(@user, project) %></td>
      <td><%= link_to 'Destroy', [@user, project], data: { confirm: 'Are you sure?' }, method: :delete %></td>
    </tr>
  </tbody>
  <% end %>
</table>
