<% content_for( :body_css, 'dash' ) %>


<div class="x">
  <div class="left-nav master-nav">
    <div class="nav-content text-center">
      <h1>+</h1>
      <h1>+</h1>
      <h1>+</h1>
      <h1>+</h1>
    </div>
  </div>
  <div class="detail-content">
    <div class="inner-content">
      <div class="large-6 column top-to-bottom">
        <div id="current-map">
          <%= image_tag 'placeholder/map-wide.png' %>
        </div>
      </div>
      <div class="large-offset-6 large-6 column">
        <%= render 'partial/map_projects/list_view' %>
        <table class="large-12">
          <thead>
            <tr>
              <th>Name</th>
              <th>Count</th>
              <th>Show</th>
              <th>Edit</th>
            </tr>
          </thead>
          <% @projects.each do |project| %>
          <tbody>
            <tr>
                <td>
                  <%= link_to project_path(project) do %>
                    <h3>
                      <%= project.name %>
                    </h3>
                  <% end %>
                </td>
                <td class="text-center"><%= project.locations.count %></td>
                <td><%= link_to 'Show', project_path(project)  %></td>
                <td><%= link_to 'Edit', edit_project_path(project) %></td>
            </tr>
          </tbody>
          <% end %>
        </table>

        <h2>Following</h2>
        <%= text_field  'Search a topic', [:new, :project], class: 'large-12', placeholder: 'Search a topic' %>
        <div class="row">
          <div class="large-6 column">
            <h3><a>Watching: 12</a></h3>
          </div>
          <div class="large-6 column">
            <h3><a>Watched: 98</a></h3>
          </div>
        </div>
        <h2>Account</h2>
        <%= link_to  'Upload a new location', [:new, :project], class: 'large-12 button' %>
        <%= link_to  'Create a new project', [:new, :project], class: 'large-12 button' %>
        <%= render 'devise/display/profile_short' %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>

<% content_for :footer_js do %>
  <script>
      var userMapApp = new MapApp;
      userMapApp.initialize('current-map');
  </script>
<% end %>
