

<%#= render 'partial/map_projects/list_view' %>
<div class="large-12 row">
  <ul class="large-block-grid-2 medium-block-grid-2">
  <% @projects.each do |project| %>
    <li class="pos-relate hero-grid-item">
      <%= link_to project_path(project) do %>
        <% if project.featured_image != nil %>
          <%= image_tag project.featured_image %>
        <% else %>
          <%= image_tag 'momuntain-lg.jpg' %>
        <% end %>
      <% end %>
      <div class="row feat-cent large-12 medium-12 full-width">
        <%= link_to project_path(project) do %>
          <h2  class="text-center">
            <%= project.name %>
          </h2>
        <% end %>

        <div class="large-6 column large-centered">
          <%= link_to 'Show', project_path(project), class: 'button small large-6 medium-6 column'  %>
          <%= link_to 'Edit', edit_project_path(project), class: 'button small secondary large-6 medium-6 column' %>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>

<%= render 'partial/dash/actions' %>

<!-- How to seperate this out? -->
<% content_for :footer_js do %>
  <script>
    mapApp.initialize('current-map');
    <% @locations.each do |location| %>
    mapApp.createMarker(<%= location.longitude %>, <%= location.latitude %>, '', true);
    <% end %>
  </script>
<% end %>
<!-- /How to seperate this out? -->
