</div>
<div class="white-bg large-12 column">
<div class="row">


<div class="large-12 text-center column">
  <%= image_tag 'explain.png' %>
</div>
<div class="large-12">
  <div class="row column">
    <div class="large-4 column">
      <h2>Locations</h2>
      <h3>
        Your friends are all around the world
      </h3>
    </div>
    <div class="large-8 column">
        <%= image_tag 'facebook.png' %>
    </div>

  </div>
  <div class="row column">
    <div class="large-4 column">
      <h3 class="subheader">Don't miss when those places are in the news</h3>
    </div>
    <div class="large-8 column">
        <%= image_tag 'guardian.png' %>
    </div>

  </div>
</div>
<div class="large-12">
  <div class="row column">
    <div class="large-8 column">
      <%= image_tag 'linkedin.png' %>
    </div>
    <div class="large-4 column">
      <h2>Companies</h2>
      <h3>
        You have a linkedin account.
      </h3>
    </div>
  </div>
  <div class="row column">
    <div class="large-8 column">
      <%= image_tag 'bloomberg.png' %>
    </div>
    <div class="large-4 column">
      <h3 class="subheader">
        Don't miss when your connection's companies come up
      </h3>
    </div>
  </div>
</div>


<%= render 'layouts/acquisition/connect' %>

</div>
