<%= form_for(@scaffold) do |f| %>
  <% if @scaffold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scaffold.errors.count, "error") %> prohibited this scaffold from being saved:</h2>

      <ul>
      <% @scaffold.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
