<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @location.id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<h3>Nearby Location</h3>
<ul>
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.address, [:project, :location] %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_project_location_path(@project, @location) %> |
<%= link_to 'Back', project_path(@project), class: 'small button' %>


<% content_for :footer_js do %>
  <script>
    mapApp.initialize('current-map');
    mapApp.createMarker(<%= @location.longitude %>, <%= @location.latitude %>, '', true);
  </script>
<% end %>
