<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>


  <body class="<%= body_css %>">

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <a class="left-off-canvas-toggle" href="#" >Menu</a>
        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
            <ul>
              <li><a href="#">Item 1</a></li>
            </ul>
        </aside>



        <%= yield %>

        <%= render "partial/global/footer" %>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>
      </div>
    </div>


    <%= javascript_include_tag "application" %>

    <%= yield :post_script %>

  </body>
</html>
