<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
    <%#= render 'partial/analytics/segmentio' %>
    <%= render 'partial/global/window_height' %>
  </head>
  <% content_for( :body_css, 'dash' ) %>
  <body class="<%= body_css %> <%= yield :body_css %>">
    <%= render 'partial/global/precontent' %>
      <div class="x">
        <div class="">
          <div class="large-6 column top-to-bottom padding-remove">
            <div id="current-map"></div>
          </div>
          <div class="large-offset-6 large-6 column padding-remove">
            <div class="right-content detail-content window-height">
              <div class="inner-content">
                <%= yield %>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="left-nav master-nav">
              <div class="nav-content text-center">
                <%= link_to :back do %>
                  <h1><%= image_tag 'icons/back.png' %></h1>
                <% end %>
                <h1>+</h1>
                <h1>+</h1>
                <h1>+</h1>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    <%= render 'partial/global/postcontent' %>
  </body>
</html>
