<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
    <%#= render 'partial/analytics/segmentio' %>
  </head>
  <% content_for( :body_css, 'dash' ) %>
  <body class="<%= body_css %> <%= yield :body_css %>">

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <%= render "partial/global/topnav" %>

        <%= render "partial/global/off_canvas_left" %>
        <%= render "partial/global/off_canvas_right" %>
        <%= render "partial/global/notice_bar" %>
        <%= render "partial/global/notification_window" %>

        <%= render "partial/global/submit_to_db" %>

        <div class="large-12 container">
        <% content_for( :body_css, 'dash' ) %>


<div class="x">
  <div class="left-nav master-nav">
    <div class="nav-content text-center">
      <h1>+</h1>
      <h1>+</h1>
      <h1>+</h1>
      <h1>+</h1>
    </div>
  </div>
  <div class="detail-content">
    <div class="inner-content">
      <div class="large-6 column top-to-bottom">
        <div id="current-map">
          <%= image_tag 'placeholder/map-wide.png' %>
        </div>
      </div>
      <div class="large-offset-6 large-6 column">
        <%= yield %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>

<% content_for :footer_js do %>
  <script>
      var userMapApp = new MapApp;
      userMapApp.initialize('current-map');
  </script>
<% end %>

          <%= render "partial/global/footer" %>
        </div>


      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>
      </div>
    </div>

    <script>
      <% if current_user %>
        analytics.identify('current_user.id', {
            email   : 'current_user.email',
            name    : 'current_user.name'
        });
      <% end %>
    </script>

    <%= javascript_include_tag "application" %>

    <%= yield :footer_js %>
    <%= yield :post_script %>

  </body>
</html>
