<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MapMade" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
    <%#= render 'partial/analytics/segmentio' %>
    <%= render 'partial/global/window_height' %>
  </head>
  <% content_for( :body_css, 'dash' ) %>
  <body class="<%= body_css %> <%= yield :body_css %>">
    <%= render 'partial/global/precontent' %>
      <%= yield %>
    <%= render 'partial/global/postcontent' %>
  </body>
</html>
