<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
  </head>


  <body class="<%= body_css %>">

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <%= render "partial/global/topnav" %>

        <%= render "partial/global/off_canvas_left" %>
        <%= render "partial/global/off_canvas_right" %>

        <%= render "partial/global/notification_window" %>

        <% if params[:test] == 'true' %>
        <%=  render "partial/global/locationInput" %>
        <% end %>

        <div class="large-12 container">
          <%= render "partial/global/footer" %>
          <%= yield %>
        </div>


      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>
      </div>
    </div>


    <%= javascript_include_tag "application" %>

    <%= yield :post_script %>

  </body>
</html>
